{% csrf_token %}
<div id="auth" class="dialog">
    <div class="dialog__inner dialog-wrapper">
        <h3 class="dialog__title">Авторизация</h3>
        <form class="dialog__form" action="/auth" method="post">
            <input class="dialog__text-field" type="email" placeholder="email" name="email">
            <input class="dialog__text-field" type="password" placeholder="пароль" name="password">
            <button class="dialog__button">Войти</button>
        </form>
        <a href="/register">Регистрация</a>
    </div>
</div>