<div class="profile">
    <div class="profile__user user">
        <div class="user__info">
            <h4>Информация о пользователе</h4>
            <p class="user__role">Студент</p>
            <p class="user__name">Чеботарев Артем Александрович</p>
            <p class="user__email">geo.harri40@gmail.com</p>
        </div>
    </div>
    <div class="profile__subjects subjects">
        <div class="subjects__chooser">
            <h4>Учебный семестр</h4>
            <ul id="subjects__list" class="subjects__list">
                
            </ul>
        </div>
        <div class="subjects__preview">
            <table id="table"></table>
        </div>
    </div>
</div>