{% csrf_token %}
<div class="profile">
    <div class="profile__user user">
        <div id="user__info">
            <h4>Информация о пользователе</h4>
            <p class="user__role"></p>
            <p class="user__name"></p>
            <p class="user__email"></p>
        </div>
    </div>
    <div class="profile__subjects subjects">
        <div class="subjects__chooser">
            <h4>Учебные дисциплины</h4>
            <ul id="subjects__list" class="subjects__list">
                
            </ul>
        </div>
        <div class="subjects__preview">

        </div>
    </div>
</div>