{% csrf_token %}
<div id="auth" class="dialog">
    <div class="dialog__inner dialog-wrapper">
        <h3 class="dialog__title">Регистрация</h3>
        <form class="dialog__form" action="/auth" method="post">
            <input class="dialog__text-field" type="text" placeholder="Фамилия">
            <input class="dialog__text-field" type="text" placeholder="Имя">
            <input class="dialog__text-field" type="text" placeholder="Отчество">
            <input id="student-number" class="dialog__text-field" type="text" placeholder="номер зачетки">
            <div class="dialog__checkbox">
                <input id="isTeacherCheckbox" class="dialog__text-field" type="checkbox" name="teacher" onchange="checkboxHandler(event)">
                <label for="teacher">Преподаватель</label>
            </div>
            <input class="dialog__text-field" type="text" placeholder="email">
            <input class="dialog__text-field" type="password" placeholder="пароль">
            <input class="dialog__text-field" type="password" placeholder="подтвердите пароль">
            <button class="dialog__button">Продолжить</button>
        </form>
        <a href="/auth">Вход</a>
    </div>
</div>