{% csrf_token %}
<div id="auth" class="dialog">
    <div class="dialog__inner dialog-wrapper">
        <h3 class="dialog__title">Регистрация</h3>
        <form class="dialog__form" action="/auth" method="post">
            <input class="dialog__text-field" type="text" placeholder="email">
            <input class="dialog__text-field" type="password" placeholder="пароль">
            <input class="dialog__text-field" type="password" placeholder="подтвердите пароль">
            <button class="dialog__button">Продолжить</button>
        </form>
    </div>
</div>