<div id="auth" class="dialog">
    <div class="dialog__inner dialog-wrapper">
        <h3 class="dialog__title">Регистрация</h3>
        <form class="dialog__form" action="/register" method="post">
            {% csrf_token %}
            <input class="dialog__text-field" type="text" placeholder="Фамилия" name="lastName">
            <input class="dialog__text-field" type="text" placeholder="Имя" name="firstName">
            <input class="dialog__text-field" type="text" placeholder="Отчество" name="patronymic">
            <div class="dialog__checkbox">
                <input id="isTeacherCheckbox" class="dialog__text-field" type="checkbox" name="isTeacher">
                <label for="isTeacher">Преподаватель</label>
            </div>
            <input class="dialog__text-field" type="email" placeholder="email" name="email">
            <input class="dialog__text-field" type="password" placeholder="пароль" name="password">
            <button class="dialog__button">Продолжить</button>
        </form>
        <a href="/auth">Вход</a>
    </div>
</div>