{% csrf_token %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Электронная зачетка</title>
</head>
<body>
    <div class="wrapper layout">
        <header class="header">
            <h1>Электронная зачетка</h1>
            <nav class="header__nav">
                <button id="exitBtn" class="header__button button">Выйти</button>
            </nav>
        </header>

        <main class="main">
            <div id="root"></div>
        </main>

        <footer class="footer">
            <div>Проект выполнил студент 2 курса Рожнов Л.А.</div>
            <div>ВГУ ФКН 2021</div>
        </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src='{% static "js/script.js" %}'></script>
</body>
</html>